.search-page {
  display: flex;
  gap: 30px;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;

    &.has-results {
      .search-bar {
        display: none;
      }

      .results-list {
        display: flex;
      }
    }

    .results-list {
      display: none;
    }
  }
}
