$max-width: 1180px;
$gray-color: #ededed;
$gray-color-1: #c4c4c4;
$gray-color-2: #dadada;
$gray-color-3: #383838;
$white-color: #fff;
$black-color: #000;
$green-color: #0ab463;
$green-color-1: #089954;