@import '../../../styles/variables';

.layout {
  color: $gray-color-3;
  background-color: $gray-color;
  min-height: 100vh;

  .main-content {
    max-width: $max-width;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    background-color: $white-color;

    .main-content {
      padding: 0;
    }
  }
}
