@import '../../../styles/variables';

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border: .5px solid $gray-color-2;
  border-radius: 4px;
  background-color: $white-color;
  box-shadow: 0 0.5px 1px 0 #848484bf;
  box-sizing: border-box;

  form {
    display: flex;
    gap: 20px;
    flex-direction: column;

    .search-type {
      .search-type-label {
        font-size: 16px;
        font-weight: 600;
      }

      .radio-group {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 15px;

        .radio-option {
          display: flex;
          gap: 8px;
          cursor: pointer;
          
          input[type=radio] {
            cursor: pointer;

            &:checked + span {
              color: $green-color;
            }
            
            &:checked {
              accent-color: $green-color;
            }
          }

          span {
            font-weight: bold;
          }
        }
      }
    }

    input[type=text] {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      padding: 10px;
      border-radius: 2px;
      box-shadow: inset 0 0.5px 1.5px 0 #848484bf;
      border: solid 0.5px $gray-color-1;
      border-radius: 4px;
      transition: all .3s ease-in-out;
      outline: none;

      &:focus {
        border-color: $green-color;
      }
    }

    button[type=submit] {
      width: 100%;
      color: $white-color;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 8px 25px;
      border: .5px solid $green-color;
      border-radius: 20px;
      background-color: $green-color;
      outline: none;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover, &:active, &:focus {
        background-color: $green-color-1;
        border-color: $green-color-1;
      }

      &:disabled {
        background-color: $gray-color-1;
        border-color: $gray-color-1;
        cursor: default;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 100%;
    border: 0;
    box-shadow: none;
    min-height: calc(100vh - 64px);

    form {
      display: contents;
      height: 100%;

      button[type=submit] {
        padding: 10px 25px;
        margin-top: auto;
      }
    }
  }
}
